<p id="notice"><%= notice %></p>

<h3>Orders</h3>

<table>
  <thead>
    <tr>
      <th>Customerid</th>
      <th>Customername</th>
      <th>Productid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customerid %></td>
        <td><%= order.customername %></td>
        <td><%= order.productid %></td>
        <td><%= link_to 'Show', order %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
