<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body 

<h1>Horizontal CSS Navigation Menu</h1>
<hr />
<div id="stylefive">
  <ul>
    <li><a href="http://www.free-css.com/ee-css.cocurrents="current">CSS Templates</a></li>
    <li><a href="http://www.free-css.com/">CSS Layouts</a></li>
    <li><a href="http://www.free-css.com/">CSS Books</a></li>
    <li><a href="http://www.free-css.com/">CSS Menus</a></li>
    <li><a href="http://www.free-css.com/">CSS Tutorials</a></li>
    <li><a href="http://www.free-css.com/">CSS Reference</a></li>
    <li><a rel="nofollow" target="_blank" href="http://www.13styles.com" title="13styles.com">13styles</a></li>
  </ul>
</div>


<table style="width:100%">
  <tr>
      <td>
    
      <p id="notice"><%= notice %></p>

      <p>
      <strong>Model:</strong>
      <%= @vehicle.model %>
      </p>

      <p>
      <strong>Company:</strong>
      <%= @vehicle.company %>
      </p>

      <p>
      <strong>Discription:</strong>
      <%= @vehicle.discription %>
      </p>

      <p>
      <strong>Price:</strong>
      <%= @vehicle.price %>
      </p>

      <p>
      <strong>Iamge:</strong>
      <%= image_tag(@vehicle.iamge) %>
      </p>
    <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
    
 </td>
    
   
 <td>
      <p id="notice"><%= notice %></p>

      <p>
      <strong>Model:</strong>
      <%= @vehicle.model %>
      </p>

      <p>
      <strong>Company:</strong>
      <%= @vehicle.company %>
      </p>

      <p>
      <strong>Discription:</strong>
      <%= @vehicle.discription %>
      </p>

      <p>
      <strong>Price:</strong>
      <%= @vehicle.price %>
     </p>

      <p>
     <strong>Iamge:</strong>
     <%= image_tag(@vehicle.iamge) %>
     
     </p>
    <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
 </td> 
   
   
 <td>
    
    
     <p id="notice"><%= notice %></p>

     <p>
     <strong>Model:</strong>
     <%= @vehicle.model %>
     </p>

     <p>
     <strong>Company:</strong>
     <%= @vehicle.company %>
     </p>

     <p>
     <strong>Discription:</strong>
     <%= @vehicle.discription %>
     </p>

     <p>
     <strong>Price:</strong>
     <%= @vehicle.price %>
    </p>

    <p>
    <strong>Iamge:</strong>
    <%= @vehicle.iamge %>
    </p>
    
    
   <%= image_tag(@vehicle.iamge) %>
   <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
</td> </tr>
  
  
  
  
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
</body>
</html>
<h1>New Vehicle</h1>


<%= link_to 'new', new_vehicle_path(@vehicle) %>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body 

<h1>Horizontal CSS Navigation Menu</h1>
<hr />
<div id="stylefive">
  <ul>
    <li><a href="http://www.free-css.com/ee-css.cocurrents="current">CSS Templates</a></li>
    <li><a href="http://www.free-css.com/">CSS Layouts</a></li>
    <li><a href="http://www.free-css.com/">CSS Books</a></li>
    <li><a href="http://www.free-css.com/">CSS Menus</a></li>
    <li><a href="http://www.free-css.com/">CSS Tutorials</a></li>
    <li><a href="http://www.free-css.com/">CSS Reference</a></li>
    <li><a rel="nofollow" target="_blank" href="http://www.13styles.com" title="13styles.com">13styles</a></li>
  </ul>
</div>


<table style="width:100%">
  <tr>
      <td>
    
      <p id="notice"><%= notice %></p>

      <p>
      <strong>Model:</strong>
      <%= @vehicle.model %>
      </p>

      <p>
      <strong>Company:</strong>
      <%= @vehicle.company %>
      </p>

      <p>
      <strong>Discription:</strong>
      <%= @vehicle.discription %>
      </p>

      <p>
      <strong>Price:</strong>
      <%= @vehicle.price %>
      </p>

      <p>
      <strong>Iamge:</strong>
      <%= image_tag(@vehicle.iamge) %>
      </p>
    <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
    
 </td>
    
   
 <td>
      <p id="notice"><%= notice %></p>

      <p>
      <strong>Model:</strong>
      <%= @vehicle.model %>
      </p>

      <p>
      <strong>Company:</strong>
      <%= @vehicle.company %>
      </p>

      <p>
      <strong>Discription:</strong>
      <%= @vehicle.discription %>
      </p>

      <p>
      <strong>Price:</strong>
      <%= @vehicle.price %>
     </p>

      <p>
     <strong>Iamge:</strong>
     <%= image_tag(@vehicle.iamge) %>
     
     </p>
    <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
 </td> 
   
   
 <td>
    
    
     <p id="notice"><%= notice %></p>

     <p>
     <strong>Model:</strong>
     <%= @vehicle.model %>
     </p>

     <p>
     <strong>Company:</strong>
     <%= @vehicle.company %>
     </p>

     <p>
     <strong>Discription:</strong>
     <%= @vehicle.discription %>
     </p>

     <p>
     <strong>Price:</strong>
     <%= @vehicle.price %>
    </p>

    <p>
    <strong>Iamge:</strong>
    <%= @vehicle.iamge %>
    </p>
    
    
   <%= image_tag(@vehicle.iamge) %>
   <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>


</td> </tr>
  
  
  
  
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
</body>
</html>
<h1>New Vehicle</h1>


<%= link_to 'new', new_vehicle_path(@vehicle) %>



<%= link_to 'edit', edit_vehicle_path(@vehicle) %>

